<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<%= form_for :session, url: login_path do |f| %>
				<%= f.text_field :name, class: "col-md-12 control-label", placeholder:"Username" %>
				<%= f.password_field :password, class:"col-md-12 form-control control-label", placeholder:"Enter password" %>
				<%= f.submit "Login", class: "btn btn-success" %>
				<div class="text-right">
          <%= link_to "Register", new_user_path %>
        </div>
    		<% end %>
		</div>	
	</div>
</div>