
<% @album.each do |key| %>
		<a class="album-links" href="/albums/<%=key.id%>">
	<div class="album-item">
		<div class="thumb">
			<img class="thumb" src="<%= key.thumb %>">
		</div>
		<div class="title"><%= key.title%></div>
		<div class="view"><%= key.view %> view</div>
		<% @user= User.find(key.user_id) %>
		<div class="author"><%= @user.name %></div>
	</div>
	</a>
<% end %>