<!DOCTYPE html>
<html>
<head>
    <title>Lab01</title>
    <script type="text/javascript" src='/jquery.js'></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <div class="main">
        <%= render "shared/header" %>
        <div class="main-contents">
          <%= render "shared/leftmenu" %>
          <div class="final-contents">
            <%= yield %>
          </div>
        </div>
        <%= render "shared/footer" %>
    </div>
</body>
</html>